/**
 *	ORPS
 *	Outer Rim Postal Service
 *	Developed with love from Paul Ryan and Justin Hedani
 */
@font-face {
  font-family: 'Munro';
  src: url('/fonts/munro-webfont.svg#munroregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Munrosmall';
  src: url('/fonts/munrosmall-webfont.eot');
  src: url('/fonts/munrosmall-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/munrosmall-webfont.woff') format('woff'), url('/fonts/munrosmall-webfont.ttf') format('truetype'), url('/fonts/munrosmall-webfont.svg#munro_smallregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/**
 *	Colors
 */
/**
 *	Mixins
 */
#font-family .munro {
  font-family: 'Munro', sans-serif;
  font-weight: normal;
}
#font-family .munro-small {
  font-family: 'Munrosmall', sans-serif;
  font-weight: normal;
}
/**
 *	HA Animation Classes
 *	Examples: http://css-tricks.com/snippets/css/keyframe-animation-syntax/
 *	e.g. -webkit-animation: example 1s ease 1s 2 alternate;
 *			 -webkit-animation: [name][duration][timing-function][delay][iteration-count][direction]
 */
/**
 *	Beam In
 *	Beams crew members in
 */
@-webkit-keyframes beamin {
  0% {
    background: url('/beam.png') no-repeat;
  }
  100% {
    opacity: 1.0;
  }
}
.beamin {
  -webkit-animation: beamin 3s ease 0s 1 alternate;
}
/**
 *	Drifting
 * 	Mimics floating in space
 */
@-webkit-keyframes driftleft {
  from {
    -webkit-transform: translate(0, 0) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-2000px, -100px) rotate(360deg);
  }
}
.drift-left {
  -webkit-animation: driftleft 30s infinite linear;
}
/**
 *	Space Hovering
 *	Mimic some space hovering (like ship flying but more subtle)
 */
@-webkit-keyframes spacehover {
  0% {
    -webkit-transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(3px, 3px);
  }
  50% {
    -webkit-transform: translate(-6px, 5px);
  }
  75% {
    -webkit-transform: translate(7px, -2px);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}
.space-hover {
  -webkit-animation: spacehover 8s infinite linear;
}
/**
 *	Rotations
 * 	Mimics floating in space
 */
@-webkit-keyframes rotateright {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotateleft {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}
.rotate-right {
  -webkit-animation: rotateright 35s infinite linear;
}
.rotate-left {
  -webkit-animation: rotateleft 65s infinite linear;
}
/**
 *	Specific HA Animation Classes
 */
/**
 *	Ship flying
 */
@-webkit-keyframes pdvfly {
  0% {
    -webkit-transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(5px, 5px);
  }
  50% {
    -webkit-transform: translate(-8px, 7px);
  }
  75% {
    -webkit-transform: translate(9px, -4px);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}
.pdvfly {
  -webkit-animation: pdvfly 3s infinite linear;
}
/**
 *	Asteroid Smash
 */
@-webkit-keyframes smash {
  0% {
    -webkit-transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(3000px, 3000px);
  }
}
.smash {
  -webkit-animation: smash 3s infinite linear;
}
/**
 *	Ship Crashing
 */
/**
 *	Walking
 */
@-webkit-keyframes walkshortleft {
  0% {
    -webkit-transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(5px, 0);
  }
  50% {
    -webkit-transform: translate(-20px, 0);
  }
  75% {
    -webkit-transform: translate(10px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}
.walk-short-left {
  -webkit-animation: walkshortleft 5s infinite linear;
}
/**
 *	Avatars
 */
.avatar {
  width: 108px;
  height: 210px;
  background: url('/avatar-commander.png') no-repeat;
}
.avatar.small {
  width: 54px;
  height: 105px;
  -webkit-background-size: auto 100% !important;
}
.avatar.commander {
  background: url('/avatar-commander.png') no-repeat;
}
.avatar.commander.eva {
  background-position: -159px 0;
}
.pdv.small {
  width: 351px;
  height: 157px;
  background: url('/pdv-mk1.png') no-repeat;
}
.pdv.flipped {
  width: 921px;
  height: 536px;
  background: url('/pdv-flipped.png') no-repeat;
  position: fixed;
  top: 490px;
  left: -50%;
  margin-left: 440px;
  z-index: -9;
}
.asteroid {
  width: 96px;
  height: 84px;
  background: url('/asteroid.png') no-repeat;
}
/**
 *	General Styles
 */
html {
  background: url('/starry-night.png');
}
body {
  font-family: 'Munro', sans-serif;
  font-weight: normal;
  color: #FFF;
}
.container {
  margin: 0 auto;
  width: 640px;
}
#main {
  position: relative;
}
#header {
  padding: 13px 0;
}
#header:before,
#header:after {
  content: " ";
  display: table;
}
#header:after {
  clear: both;
}
#header .logo {
  float: left;
}
#header .user-options-container {
  float: right;
}
#header .user-options-container #login-buttons a {
  color: #FFF;
  display: block;
  padding: 10px 0;
}
#footer {
  text-align: center;
  padding: 0 80px;
}
.logo {
  width: 102px;
  height: 44px;
  background: url('/logo.png') no-repeat;
  display: block;
}
.logo.large {
  width: 450px;
  height: 198px;
  margin: 0 0 0 56px;
  padding: 40px 39px 98px 38px;
  background: url('/logo-large.png') rgba(113, 219, 187, 0.6) center 50px no-repeat;
}
.btn {
  display: block;
  border: 0;
  padding: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #FFF;
}
.btn.btn-primary {
  font-size: 18px;
  background: #d64556;
}
.btn.btn-primary:hover {
  background: #d13043;
}
.btn.btn-success {
  background: blue;
}
.game-HUD {
  width: 710px;
  height: 97px;
  margin: -55px 0 0 -35px;
  position: relative;
  background: url('/game-HUD.png') no-repeat;
}
.game-HUD .game-HUD-comm {
  position: absolute;
  top: 97px;
  left: 36px;
  padding: 20px;
  color: #FFF;
  background-color: rgba(70, 201, 211, 0.8);
}
/**
 *	Typography
 */
a {
  color: #71dbbb;
  text-decoration: none;
}
h2.title-bar {
  display: block;
  padding: 20px;
  background: url('/panelling-dark-bg.png');
}
/**
 *	Forms
 */
input,
textarea {
  border: none;
  background-color: rgba(70, 201, 211, 0.8);
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.answer {
  position: relative;
}
.answer input,
.question textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}
.answer input[type='button'] {
  width: 38px;
  height: 38px;
  background-color: #71dbbb;
  position: absolute;
  margin: -53px 0;
  right: 0;
}
/**
 *	Home / Lobby Styles
 *	Template #1
 */
#main.game-state-lobby .user-options-container {
  position: relative;
  z-index: 1;
}
#main.game-state-lobby .user-options-container #login-buttons {
  float: right;
  margin: 20px 95px 15px 0;
}
#main.game-state-lobby .user-options-container #login-buttons a {
  color: #FFF;
}
#main.game-state-lobby .title-box {
  width: 640px;
  height: 383px;
  z-index: 0;
  position: relative;
  background: url('/lobby-title-box.png') bottom center;
}
#main.game-state-lobby .title-box h1,
#main.game-state-lobby .title-box span {
  display: block;
  text-align: center;
}
#main.game-state-lobby .title-box h1 {
  margin-top: -90px;
}
#main.game-state-lobby .title-box span {
  margin-top: -15px;
}
#main.game-state-lobby h2.title-bar {
  margin: -29px 0 10px 0;
  z-index: -99;
  padding: 47px 20px 20px;
}
#main.game-state-lobby ul.games {
  padding: 0;
}
#main.game-state-lobby ul.games:before,
#main.game-state-lobby ul.games:after {
  content: " ";
  display: table;
}
#main.game-state-lobby ul.games:after {
  clear: both;
}
#main.game-state-lobby ul.games li {
  background: rgba(113, 219, 187, 0.6);
  list-style: none;
  width: 49%;
  float: left;
  margin-left: 2%;
  text-align: center;
}
#main.game-state-lobby ul.games li:first-child {
  margin: 0;
}
#main.game-state-lobby ul.games li .btn-primary {
  width: 100%;
}
#main.game-state-lobby #floater-one {
  position: absolute;
  top: 440px;
  left: -320px;
  z-index: -9;
}
#main.game-state-lobby #floater-two {
  position: fixed;
  top: 120px;
  right: -220px;
  z-index: -9;
}
/**
 *	Staging Styles
 *	Template #2
 */
#main.game-state-staging .job-cube {
  width: 777px;
  height: 675px;
  position: fixed;
  left: 50%;
  margin-left: -388px;
  top: 0;
  z-index: -9;
  background: url('/job-cube.png') no-repeat;
}
#main.game-state-staging .job-cube-contents {
  background: rgba(113, 219, 187, 0.6);
}
#main.game-state-staging .job-cube-contents:before,
#main.game-state-staging .job-cube-contents:after {
  content: " ";
  display: table;
}
#main.game-state-staging .job-cube-contents:after {
  clear: both;
}
#main.game-state-staging .job-cube-contents input.game-leave,
#main.game-state-staging .job-cube-contents input.game-start {
  float: right;
}
#main.game-state-staging .job-cube-contents input.game-leave {
  font-size: 18px;
}
#main.game-state-staging .job-cube-contents h2 {
  float: left;
  margin-left: 25px;
  margin-top: 15px;
}
#main.game-state-staging .job-cube-contents h2 small {
  display: block;
}
#main.game-state-staging .primary-interface {
  background: #8e8e8e;
}
#main.game-state-staging .primary-interface ul.tabs {
  margin: 0;
  padding: 0;
}
#main.game-state-staging .primary-interface ul.tabs:before,
#main.game-state-staging .primary-interface ul.tabs:after {
  content: " ";
  display: table;
}
#main.game-state-staging .primary-interface ul.tabs:after {
  clear: both;
}
#main.game-state-staging .primary-interface ul.tabs li {
  background: #424242;
  list-style: none;
  width: 50%;
  float: left;
  text-align: center;
  padding: 20px 0;
}
#main.game-state-staging .primary-interface ul.tabs li.active {
  background: #282828;
}
#main.game-state-staging .primary-interface ul.tabs li a {
  color: #FFF;
}
#main.game-state-staging .primary-interface #commboard {
  padding: 20px;
}
#main.game-state-staging .primary-interface #commboard .input-append {
  margin-top: 15px;
}
#main.game-state-staging .primary-interface #commboard .input-append:before,
#main.game-state-staging .primary-interface #commboard .input-append:after {
  content: " ";
  display: table;
}
#main.game-state-staging .primary-interface #commboard .input-append:after {
  clear: both;
}
#main.game-state-staging .primary-interface #commboard .input-append .staging-chat-input {
  float: left;
  width: 488px;
  padding: 20px;
}
#main.game-state-staging .primary-interface #commboard .input-append .staging-chat-send {
  float: right;
}
#main.game-state-staging #animations {
  clear: left;
  position: relative;
  min-height: 300px !important;
}
#main.game-state-staging #animations:before,
#main.game-state-staging #animations:after {
  content: " ";
  display: table;
}
#main.game-state-staging #animations:after {
  clear: both;
}
#main.game-state-staging #animations .avatar {
  position: absolute;
  bottom: -4px;
}
/**
 *	Game Styles
 *	Global Game Styles
 */
#main[class*="game-state-"] #animations {
  min-height: 400px;
}
#main[class*="game-state-"] #animations .avatar {
  margin-top: 100px;
}
#inputs {
  padding: 20px;
  background-color: #282828;
}
#inputs input[class*="ready"] {
  margin: -78px auto 20px;
}
/**
 *	Loading Styles
 */
.game-state-loading .pdv {
  margin: 40% auto;
}
